# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Libraries and Binaries
*.a
*.so
*.dll
*.dylib
*.out

# Debugging files
*.dSYM/
*.pdb

# Dependency directories
node_modules/
vendor/

# Build directories
build/
cmake-build-debug/
cmake-build-release/

# IDE and editor specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual Studio IntelliSense files
*.ipch

# Visual Studio local settings and caches
.vs/

# Additional Build directories
x64/
x86/

# Temporary files
*.log
*.tmp

# Intermediate Files
*.ilk
*.idb
*.recipe
*.FileListAbsolute.txt

# Vcpkg Logs
vcpkg.applocal.log

# Temporary Logs
*.tlog

# Ignore build state files
*.lastbuildstate
